sphinx_rtd_theme
sphinx
sphinx-argparse
sphinx_autodoc_typehints
mock
ipython
matplotlib
future
requests
pysb
pandas
jinja2
protmapper
pyyaml
networkx>=3
obonet
tqdm
pybel
unidecode
pybiopax
scikit-learn
pronto
gilda
